{%extends 'ads/base.html'%}

{%block head_text%}
Скачать данные
{%endblock%}
{%block content%}
<style>
    .alert{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{%if not_marked_mail_service_objects_exists%}
<div class="container">
<div class="alert alert-warning" role="alert">
    Есть непромаркированые емейл сервисы! ({{not_marked_mail_service_objects_exists}})      
    <a class="btn btn-warning" role="button" href="{%url 'ads:mark_mail_services'%}">Определить</a> 
</div>
</div>
{%endif%}
<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="UsedMails"></canvas>
        </div>
        <div class="col">
            <h4>Дата отсчета обновлено: {{groups_updates_border_date}}</h4>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
<script>
    const UsedStat = document.getElementById('UsedMails');
    const UsedStatData = {
        labels: [
            //!!! {%for item in used_stat%}
            '{{item.used_count}}: {{item.count}}',
            // {%endfor%}
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [
                //!!! {%for item in used_stat%}
                '{{item.count}}', 
                // {%endfor%}
            ],
            backgroundColor: [
            '#c2c2c2',
                '#59B763',
                '#ffd963',
                '#3082F1',
                '#ff6363',
                '#8963ff',
                '#ff6363',
                '#30cf7d',
                '#30cfc5',
                '#3046cf',
                '#eb9e0f',
            ],
            hoverOffset: 4
        }]
    };

    new Chart(UsedStat, {
        type: 'doughnut',
        data: UsedStatData,
        options: {
            plugins: {
                legend: {
                    position: 'left',
                    align: 'center'
                },
                title: {
                    display: true,
                    text: 'Статистика по использованым',
                }
            }
        }
    });
</script>
{%endblock%}