{%extends 'ads/base.html'%}

{%block head_text%}
Обновить группы из CSV файла
{%endblock%}
{%block content%}
<style>
    .wrapper{
        
    }
    .wrapper.center{
        display: flex;
        justify-content: center;
    }
    form{
        margin: 20px 0;
    }
    form button{
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }
    form,table{
        max-width: 700px;
    }

</style>
<div class="container">
    <div class="wrapper center">
        <form class="form" method="POST" enctype="multipart/form-data" >
            {%csrf_token%}
            {{form.as_div}}
            <button class="btn btn-primary" type="submit">Загузить</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="wrapper center">
        {%if reader%}
        <table class="table">
            <thead class="table-primary">
              <tr>
                <td colspan="2">Сsv файл {{reader.file_name}}</td>
             </tr>

            </thead>
            <tbody>
              <tr>
                <td>Всего групп в файле</td>
                <td>{{reader.total}}</td>
              </tr>
              <tr>
                <td>Уникальных групп</td>
                <td>{{reader|length}}</td>
              </tr>
              <tr>
                <td colspan="2" class="table-primary">БД</td>
             </tr>
             <tr>
                <td>Новых</td>
                <td> {{update_result.new}}</td>
              </tr>
              <tr>
                <td>Обновлено</td>
                <td>{{update_result.updated}}</td>
              </tr>
            </tbody>
          </table>
          {%endif%}
    </div>
</div>

{%endblock%}