{%extends 'ads/base.html'%}

{%block head_text%}
Статистика групп
{%endblock%}
{%block content%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <canvas id="parserStat"></canvas>
        </div>
        <div class="col">
            <canvas id="ColectedStat"></canvas>
        </div>
        <div class="col">
            <canvas id="mailServiceStat"></canvas>
            <div style="width: 100%;text-align: center;">
                <br>
                <a href="{%url 'mark_mail_services' %}" class="btn btn-primary" role="button">Определить сервис</a>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <canvas id="mailServiceStat"></canvas>
            <div style="width: 100%;text-align: center;">
                <br>
                <a href="{%url 'mark_mail_services' %}" class="btn btn-primary" role="button">Определить сервис</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div> -->


</div>
<script>
    const parserStat = document.getElementById('parserStat');
    const parserStatData = {
        title: '123',
        labels: [
            'Not collected: {{not_collected_count}}',
            'Error req: {{error_req_count}}',
            'Colected: {{collected_count}}',
        ],
        datasets: [{
            label: 'My First Dataset',
            data: ['{{not_collected_count}}', '{{error_req_count}}','{{collected_count}}'],
            backgroundColor: [
                '#9D9D9D',
                '#ff6363',
                '#7AB759',
            ],
            hoverOffset: 4
        }]
    };

    new Chart(parserStat, {
        type: 'doughnut',
        data: parserStatData,
        options: {
            plugins: {
                legend: {
                    position: 'left',
                    align: 'center'
                },
                title: {
                    display: true,
                    text: 'Соотношение обработаних и нет групп',
                }
            }
        }
    });
</script>

<script>
    const ColectedStat = document.getElementById('ColectedStat');
    const ColectedStatData = {
        labels: [
            'With mail: {{with_mail_count}}',
            'Title only: {{no_mail_count}}',
            'Login form: {{login_form_count}}',
            'Emtpy: {{no_data_count}}',
        ],
        datasets: [{
            label: 'My First Dataset',
            data: ['{{with_mail_count}}', '{{no_mail_count}}', '{{login_form_count}}', '{{no_data_count}}'],
            backgroundColor: [
                '#59B763',
                '#ffd963',
                '#3082F1',
                '#ff6363'
            ],
            hoverOffset: 4
        }]
    };

    new Chart(ColectedStat, {
        type: 'doughnut',
        data: ColectedStatData,
        options: {
            plugins: {
                legend: {
                    position: 'left',
                    align: 'center'
                },
                title: {
                    display: true,
                    text: 'Статистика по обработанным группам',
                }
            }
        }
    });
</script>
<script>
    const mailServiceStat = document.getElementById('mailServiceStat');
    const mailServiceStatData = {
        labels : [
            //!!! {%for item in mails_service_stat%}
            '{{item.email_service}}: {{item.count}}',
            //!!! {%endfor%}
        ],
        // labels: [
        //     'With mail: {{with_mail_count}}',
        //     'Title only: {{no_mail_count}}',
        //     'Login form: {{login_form_count}}',
        //     'Emtpy: {{no_data_count}}',
        // ],
        datasets: [{
            label: 'My First Dataset',
            data: [
            //!!! {%for item in mails_service_stat%}
            '{{item.count}}',
            //!!! {%endfor%}
            ],
            backgroundColor: [
                '#c2c2c2',
                '#59B763',
                '#ffd963',
                '#3082F1',
                '#ff6363',
                '#8963ff',
                '#ff6363',
                '#30cf7d',
                '#30cfc5',
                '#3046cf',
                '#eb9e0f',
            ],
            hoverOffset: 4
        }]
    };

    new Chart(mailServiceStat, {
        type: 'doughnut',
        data: mailServiceStatData,
        options: {
            plugins: {
                legend: {
                    position: 'left',
                    align: 'center'
                },
                title: {
                    display: true,
                    text: 'Статистика по сервисам',
                }
            }
        }
    });
</script>
{%endblock%}