{%extends 'ads/base.html'%}

{%block head_text%}
Шаблоны
{%endblock%}
{%block content%}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="https://i.imgur.com/B9pZMyq.png" class="card-img-top" alt="https://i.imgur.com/B9pZMyq.png">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
</div>
{%endblock%}