{% extends 'ads/base.html' %}
{% load static %}
{% load country_filters%}
{%block title%}
        {{country}} - {{country.ru_full_name}}
{%endblock%}
{% block content %}
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>

</style>
<style>
    .country-info-block{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        margin-bottom: 120px;
    }
    .country-name{
        display: flex;
        align-items: center;
    }
    .flag-icon{
        margin-right: 30px;
        width: 100px;
        height: 100px;
    }
    .view-key-form{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        gap: 10px;
        padding: 10px;
    }
    .view-key-form input{
        width: 150px;
    }
    .voc-block{
        margin-top: 30px;
    }
    .voc-form button{
        margin-top: 10px;
    }
    .voc-form input{
        max-width: 250px;
    }
    .alert{
        display: flex;
        justify-content: space-between;
    }
    .alert i{
        margin-left: 8px;
        cursor: pointer;
        transition: 0.3s;
    }
    .alert i:hover{
        color: rgb(99, 11, 11);
    }
    .comment-block{
        margin: 20px 0;
    }

</style>
<style>

    .pie{
        width: 200px;
        height: 200px;
    }
    .pie label{
        text-align: center;
        width: 100%;
        font-weight: 800;
        margin-bottom:20px;
    }
    </style>
<!-- <div class="container-fluid country-info-block">
   <div>
    <h2 class="country-name"><span class="flag-icon flag-icon-{{country.pk}}"></span>{{country.ru_full_name}}</h2>
    <p>Население: {{country.population|population_short}}</p>
    <p>ВВП нанос:</p>
   </div>
   {%if country.stat%}
    <div class="pie" id="uniqie_percent">
        <label for=""></label>
    </div>
    <div class="pie" id="new_percent">
        <label for=""></label>
    </div>
    <div >
      <canvas  style="width: 100%;" id="country_new_daily_stat"></canvas>
    </div>
    
    {%else%}
    <h5>Нет собраной статистики</h5>
   {%endif%}
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <span class="flag-icon flag-icon-{{country.pk}}"></span>
      <h2 class="country-name">{{country.ru_full_name}}</h2>
      <p>Население: {{country.population|population_short}}</p>
    </div>

    {%if country.stat%}
    <div class="col-2">
      <div class="pie" id="uniqie_percent">
        <label for=""></label>
    </div>
    </div>
    <div class="col-2">
      <div class="pie" id="new_percent">
        <label for=""></label>
    </div>
    </div>
    <div class="col-6">
      <canvas   id="country_new_daily_stat"></canvas>
    </div>
    {%else%}
    <div class="col-10">
      <h5>Нет собраной статистики</h5>
    </div>
   {%endif%}
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5 >Доступные языки  </h5>
            {%for voc in country.vocabulary.all%}  
            <div class="container voc-block">
            {%if voc.language.has_vocabulary%}
            <h6>{{voc.language}}</h6>
            <form class="voc-form" action="{%url 'countries:vocabulary-update' voc.pk%}" method="POST">
                {%csrf_token%}
                <label for="" class="form-label">Грубина ключей</label>
                    <input type="text" value="{{voc.keys_deep|default_if_none:''}}" name="keys_deep" required class="form-control" placeholder="Задайте шлубину ключей">
                    <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
            {%else%}
            <h6>{{voc.language}}: Не словаря</h6>
            {%endif%}
        </div>
            {%endfor%}
        </div>
        <div class="col">
            <h5 >Коментарии к гео </h5>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Добавить
              </button>
            
            <div class="collapse" id="collapseExample">
                <form action="{% url 'countries:country-comment-create' %}" method="POST">
                    {%csrf_token%}
                    <select class="form-select" aria-label="Default select example" name="type">
                        <option value="danger">Danger</option>
                        <option value="primary" selected>Primary</option>
                        <option value="success">Success</option>
                        <option value="warning">Warning</option>
                      </select>
                    <input class="form-control" type="hidden" name="country" value="{{country.pk}}">
                    <textarea class="form-control" name="text" id="" cols="30" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
              </div>
            
            <div class="comment-block">
                {%for comment in country.comments.all%}
            <div class="alert alert-{{comment.type}}" role="alert" id="comment-{{comment.pk}}">
                <div class="text">
                    {{comment.text}}
                </div>
                 <div>
                    {{comment.created}}
                    <i class="fa-solid fa-trash"></i>
                </div>
              </div>
              {%empty%}
              <p>Нет коментариев</p>
             {%endfor%}   
            </div>            
        </div>
        <div class="col">
            <h5 >Обзор Facebook Ads Library по {{country.ru_full_name}}</h5>
            {%for voc in country.vocabulary.all%}
            <form class="view-key-form"action="{%url 'countries:fb_adslib_show' %}" target="_blank" method="POST">
                <label for="" class="form-label">{{voc.language}}</label>
                {%csrf_token%}
                <input name="country" value="{{country.pk}}" type="hidden">
                <input name="language" value="{{voc.language.pk}}" type="hidden">
                <input class="form-control" name="number_in_dict" type="number" placeholder="Введите номер ключа" required min="1" max="20000">
                <button type="submit" class="btn btn-secondary">Показать ключ</button>
            </form>
            
            {%endfor%}
        </div>
    </div>
    
    
</div>

  <!-- Remove comment Modal -->
  <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCommentModalLabel">Удалить коментарий?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="" method="POST">
            {%csrf_token%}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  
<script>
    var modalBlock = document.getElementById('deleteCommentModal')
    var deleteModal = new bootstrap.Modal(modalBlock)
    var modalText = modalBlock.querySelector('.modal-body')
    var modalForm = modalBlock.querySelector('form')
    var removeCommentButtons = document.querySelectorAll('.alert i')
    removeCommentButtons.forEach(function(elem){
        console.log(elem)
        elem.addEventListener('click', showDeleteCommentModal)
    })

    function showDeleteCommentModal(event){
        var target = event.target
        var alertBlock = target.closest(".alert")
        var commentId = alertBlock.id.replace('comment-','')
        modalText.innerHTML = alertBlock.querySelector('.text').innerText
        var deleteUrl = `/countries/country-comment/${commentId}/delete/`
        modalForm.action = deleteUrl
        deleteModal.show()
    }
</script>

<!-- Unique code -->
<script>
    function createChart(label_text,id, data, center_text){
        var elem = document.getElementById(id)
        elem.querySelector('label').innerText = label_text
        ///
        am5.ready(function() {
    var chartData = {};
    var root = am5.Root.new(id);
    
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    var chart = root.container.children.push(am5percent.PieChart.new(root, {
      innerRadius: 100,
      layout: root.verticalLayout
    }));
    var series = chart.series.push(am5percent.PieSeries.new(root, {
      valueField: "size",
      categoryField: "sector"
    }));
    series.data.setAll(data);
    series.appear(1000, 100);
    series.labels.template.set("visible", false);
    series.ticks.template.set("visible", false);
    
    // Add label
    var label = root.tooltipContainer.children.push(am5.Label.new(root, {
      x: am5.p50,
      y: am5.p50,
      centerX: am5.p50,
      centerY: am5.p50,
      fill: am5.color(0x000000),
      fontSize: 50
    }));
    

    label.set("text", center_text);
    
    });
        ///
    }

    createChart('Уникальных','uniqie_percent',
    [{ sector: "Уникальных", size: '{{country_stat.unique_sum}}'},
    { sector: "Всего собрано", size: '{{country_stat.total_sum}}' -  '{{country_stat.unique_sum}}'},
    ]
    , '{{country_stat.unique_percent}}%')

    createChart('Новых','new_percent',
    [{ sector: "Новых", size: '{{country_stat.new_sum}}'},
    { sector: "Уникальных", size: '{{country_stat.unique_sum}}' - '{{country_stat.new_sum}}'},
    ]
    , '{{country_stat.new_percent}}%')
    
    </script>


<script>
    //Статистика новых по стране по дням
    const country_new_daily_stat = document.getElementById('country_new_daily_stat');
    const country_new_daily_stat_labels = [
          // {%for item in country_new_daily_stat%}
          '{{item.created}} - {{item.avg}}%',
          // {%endfor%}
      ];
      const country_new_daily_stat_data = {
    labels: country_new_daily_stat_labels,
    datasets: [
   
      {
        label: 'Новых групп',
        data: [
             // {%for item in country_new_daily_stat%}
          '{{item.new}}',
          // {%endfor%}
        ],
  
      },
      {
        label: 'Всего карт',
        data: [
             // {%for item in country_new_daily_stat%}
          '{{item.total}}' - '{{item.new}}',
          // {%endfor%}
        ],
  
      },
    ]
  };
      
      
      const country_new_daily_stat_config = {
        type: 'bar',
        data: country_new_daily_stat_data,
        options: {
          scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      }
        },
      };
      new Chart(country_new_daily_stat, country_new_daily_stat_config)
  </script>
{%endblock%}