{% extends 'ads/base.html' %}
{% load static %}
{% load country_filters%}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .country-info-block{
        margin-bottom: 20px;
    }
    .country-name{
        display: flex;
        align-items: center;
    }
    .flag-icon{
        margin-right: 30px;
        width: 100px;
        height: 100px;
    }
    .view-key-form{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        gap: 10px;
        padding: 10px;
    }
    .view-key-form input{
        width: 150px;
    }
    .voc-block{
        margin-top: 30px;
    }
    .voc-form button{
        margin-top: 10px;
    }
    .voc-form input{
        max-width: 250px;
    }
    .alert{
        display: flex;
        justify-content: space-between;
    }
    .alert i{
        margin-left: 8px;
        cursor: pointer;
        transition: 0.3s;
    }
    .alert i:hover{
        color: rgb(99, 11, 11);
    }
    .comment-block{
        margin: 20px 0;
    }

</style>
<div class="container-fluid country-info-block">
    <h2 class="country-name"><span class="flag-icon flag-icon-{{country.pk}}"></span>{{country.ru_full_name}}</h2>
    <p>Население: {{country.population|population_short}}</p>
    <p>ВВП нанос:</p>
    <p>total: {{country.stat.total_sum}}</p>
    <p>total: {{country.stat.unique_sum}}</p>
    <div class="canvas-wrap" style="width:150px;">
        <canvas  id="country_unique_sum"></canvas>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5 >Доступные языки  </h5>
            {%for voc in country.vocabulary.all%}  
            <div class="container voc-block">
            {%if voc.language.has_vocabulary%}
            <h6>{{voc.language}}</h6>
            <form class="voc-form" action="{%url 'countries:vocabulary-update' voc.pk%}" method="POST">
                {%csrf_token%}
                <label for="" class="form-label">Грубина ключей</label>
                    <input type="text" value="{{voc.keys_deep|default_if_none:''}}" name="keys_deep" required class="form-control" placeholder="Задайте шлубину ключей">
                    <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
            {%else%}
            <h6>{{voc.language}}: Не словаря</h6>
            {%endif%}
        </div>
            {%endfor%}
        </div>
        <div class="col">
            <h5 >Коментарии к гео </h5>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Добавить
              </button>
            
            <div class="collapse" id="collapseExample">
                <form action="{% url 'countries:country-comment-create' %}" method="POST">
                    {%csrf_token%}
                    <select class="form-select" aria-label="Default select example" name="type">
                        <option value="danger">Danger</option>
                        <option value="primary" selected>Primary</option>
                        <option value="success">Success</option>
                        <option value="warning">Warning</option>
                      </select>
                    <input class="form-control" type="hidden" name="country" value="{{country.pk}}">
                    <textarea class="form-control" name="text" id="" cols="30" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
              </div>
            
            <div class="comment-block">
                {%for comment in country.comments.all%}
            <div class="alert alert-{{comment.type}}" role="alert" id="comment-{{comment.pk}}">
                <div class="text">
                    {{comment.text}}
                </div>
                 <div>
                    {{comment.created}}
                    <i class="fa-solid fa-trash"></i>
                </div>
              </div>
              {%empty%}
              <p>Нет коментариев</p>
             {%endfor%}   
            </div>            
        </div>
        <div class="col">
            <h5 >Обзор Facebook Ads Library по {{country.ru_full_name}}</h5>
            {%for voc in country.vocabulary.all%}
            <form class="view-key-form"action="{%url 'countries:fb_adslib_show' %}" target="_blank" method="POST">
                <label for="" class="form-label">{{voc.language}}</label>
                {%csrf_token%}
                <input name="country" value="{{country.pk}}" type="hidden">
                <input name="language" value="{{voc.language.pk}}" type="hidden">
                <input class="form-control" name="number_in_dict" type="number" placeholder="Введите номер ключа" required min="1" max="20000">
                <button type="submit" class="btn btn-secondary">Показать ключ</button>
            </form>
            
            {%endfor%}
        </div>
    </div>
    
    
</div>

  <!-- Remove comment Modal -->
  <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCommentModalLabel">Удалить коментарий?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="" method="POST">
            {%csrf_token%}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  
<script>
    var modalBlock = document.getElementById('deleteCommentModal')
    var deleteModal = new bootstrap.Modal(modalBlock)
    var modalText = modalBlock.querySelector('.modal-body')
    var modalForm = modalBlock.querySelector('form')
    var removeCommentButtons = document.querySelectorAll('.alert i')
    removeCommentButtons.forEach(function(elem){
        console.log(elem)
        elem.addEventListener('click', showDeleteCommentModal)
    })

    function showDeleteCommentModal(event){
        var target = event.target
        var alertBlock = target.closest(".alert")
        var commentId = alertBlock.id.replace('comment-','')
        modalText.innerHTML = alertBlock.querySelector('.text').innerText
        var deleteUrl = `/countries/country-comment/${commentId}/delete/`
        modalForm.action = deleteUrl
        deleteModal.show()
    }
</script>
<script>
    const country_unique_sum = document.getElementById('country_unique_sum');
    const country_unique_sumData = {
        labels : [
            
            'total',
            'unique'
        
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [
             10,
              20
            ],
            backgroundColor: [
                '#c2c2c2',
                '#59B763',
            ],
            hoverOffset: 4,
            cutout: '70%',
        }] 
    };

    new Chart(country_unique_sum, {
        type: 'doughnut',
        data: country_unique_sumData,
        options: {
            plugins: {
                legend: null,
                title: {
                    display: true,
                    text: 'Статистика по сервисам',
                },
                
            }
        }
    });
</script>
{%endblock%}