{%extends 'ads/base.html'%}

{%block head_text%}
DSs
{%endblock%}
{%block content%}


<style>
    .card i{
        font-size: 150px;
        text-align: center;
        margin: 10px 0;
        color: rgb(58 108 224);
    }
</style>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card text-center">
            <a href="{%url 'remote_pc:active' %}">
                <i class="fa-solid fa-signal"></i>
            </a>
            <div class="card-body">
              <h5 class="card-title">Актиные</h5>
              <p class="card-text">Активные парс-машины</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center">
            <a href="{%url 'remote_pc:parse_stat' %}">
                <i class="fa-solid fa-chart-column"></i>
            </a>
            <div class="card-body">
              <h5 class="card-title">Статистика</h5>
              <p class="card-text">Статистика парсинга</p>
            </div>
          </div>
        </div>
      </div>
</div>
{%endblock%}